
body {
  margin: 0px;
  font-family:'Courier New', Courier, monospace, 'Times New Roman', Times, serif, sans-serif, Arial;
  background: rgb(0, 0, 0);
  color:black;
  font-weight: bolder;
}

.box{
    position: relative;
    flex: 1;
    margin: auto;
    margin-top: 6vh;
    align-items: center;
    text-align: center;
    background-image:url('paperbg.png');
    background-position: center;      
    border-radius: 0px;
    width: 700px;
    height: 3000px;
    overflow: hidden;
} 

.inBox{
    position: relative;
    flex: 1;
    margin: auto;
    margin-top: 6vh;
    align-items: center;
    text-align: center;
    background-color:#f0f5ff;
    background-position: center;      
    border-radius: 10px;
    box-shadow: 10px;
    outline: rgb(0, 0, 0) 4px;
    outline-style: solid;
    box-shadow: 20px 20px #7b8fb3;
    padding: 5%;
    width: 500px;
    height: 860px;
    overflow: hidden;
} 

.inInBox{
    position: relative;
    flex: 1;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color:#1f1f20;
    background-position: center;      
    border-radius: 10px;
    box-shadow: 10px;
    width: 500px;
    height: 375px;
    overflow: hidden;
} 