
body {
  margin: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(0, 0, 0);
  color:black;
}

.box{
    position: relative;
    flex: 1;
    margin: auto;
    margin-top: 6vh;
    align-items: center;
    text-align: center;
    background-image:url('paperbg.png');
    background-position: center;      
    border-radius: 0px;
    width: 700px;
    height: 3000px;
    overflow: hidden;
} 

.inBox{
    position: relative;
    flex: 1;
    margin: auto;
    margin-top: 6vh;
    align-items: center;
    text-align: center;
    background-color: none;
    background-position: center;      
    border-radius: 10px;
    box-shadow: 10px;
    outline: black 4px;
    outline-style: dashed;
    width: 500px;
    height: 900px;
    overflow: hidden;
} 